@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
*:focus {
    outline: none;
}
.surface {font-size:200%;-webkit-user-select:text;font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;}
.surface-caret-container {position:relative;width:6px;}
.surface-caret {position:relative;background-color:gray;height:100%;
	  -webkit-animation: fadein 0.5s ease-in alternate infinite;
}
.selected {background: #52B7FD;}
@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
 
.br { white-space: pre;}
.br::after { content:"\A"}
.verb { background-image: url('../../svg/underline.svg');}
.noun { background-image: url('../../svg/yellowcircle.svg');}
.noun_verb { background-image: url('../../svg/underline.svg'),url('../../svg/yellowcircle.svg')}

.delete { background-image:
       url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><g><line fill="none" stroke-opacity="0.5" stroke-width="3" stroke="#f00000" id="svg_5" y2="90%" x2="45%" y1="45%" x1="90%"/><line fill="none" stroke-opacity="0.5" stroke-width="3" stroke="#f00000" id="svg_6" y2="90%" x2="90%" y1="45%" x1="45%"/></g></svg>');
} 
.insert {background-image:
       url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><ellipse ry="17.5%" rx="19%" stroke-opacity="0.7" stroke-width="3" stroke="#30F030" fill="none" id="svg_7" cy="70.5%" cx="70%"/></svg>');
}
